@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }
@font-face {
    font-family: "Liberation Serif";
    font-style: normal;
    font-weight: normal;
    src: url(OEBPS/LiberationSerif.otf) format("opentype")
    }
@font-face {
    font-family: "Liberation Mono";
    font-weight: normal;
    font-style: normal;
    src: url(OEBPS/LiberationMono.otf) format("opentype")
    }
@font-face {
    font-family: "Liberation Mono Bold";
    font-style: normal;
    font-weight: bold;
    src: url(OEBPS/LiberationMono-Bold.otf) format("opentype")
    }
@font-face {
    font-family: "Liberation Mono BoldItal";
    font-weight: bold;
    font-style: italic;
    src: url(OEBPS/LiberationMono-BoldItalic.otf) format("opentype")
    }
@font-face {
    font-family: "Liberation Mono Ital";
    font-weight: normal;
    font-style: italic;
    src: url(OEBPS/LiberationMono-Italic.otf) format("opentype")
    }
