.aCells {
    color: #303030;
    display: table-cell;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.2;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: left;
    text-decoration: none;
    vertical-align: inherit
    }
.aCells1 {
    color: #303030;
    display: table-cell;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.2;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    text-decoration: none;
    vertical-align: inherit
    }
.aCells2 {
    color: #303030;
    display: table-cell;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.2;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: right;
    text-decoration: none;
    vertical-align: inherit
    }
.aTopMenu {
    color: #4B4B4B;
    display: table-cell;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.70588em;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    text-decoration: none;
    vertical-align: inherit
    }
.aTopMenu1 {
    color: #4B4B4B;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-decoration: none
    }
.calibre {
    background-color: white;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.41667em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre10 {
    height: auto;
    width: auto
    }
.calibre100 {
    height: 320px;
    width: 307px
    }
.calibre101 {
    height: 265px;
    width: 472px
    }
.calibre102 {
    height: 391px;
    width: 405px
    }
.calibre103 {
    height: 278px;
    width: 409px
    }
.calibre104 {
    height: 800px;
    width: 550px
    }
.calibre105 {
    height: 448px;
    width: 550px
    }
.calibre106 {
    height: 397px;
    width: 496px
    }
.calibre107 {
    height: 201px;
    width: 398px
    }
.calibre108 {
    height: 415px;
    width: 550px
    }
.calibre109 {
    height: 216px;
    width: 550px
    }
.calibre11 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre110 {
    height: 482px;
    width: 550px
    }
.calibre111 {
    height: 308px;
    width: 546px
    }
.calibre112 {
    height: 53px;
    width: 423px
    }
.calibre113 {
    height: 485px;
    width: 550px
    }
.calibre114 {
    height: 182px;
    width: 550px
    }
.calibre115 {
    height: 144px;
    width: 550px
    }
.calibre116 {
    height: 243px;
    width: 436px
    }
.calibre117 {
    height: 283px;
    width: 475px
    }
.calibre118 {
    height: 342px;
    width: 544px
    }
.calibre119 {
    height: 231px;
    width: 390px
    }
.calibre12 {
    display: list-item
    }
.calibre120 {
    height: 365px;
    width: 550px
    }
.calibre121 {
    height: 271px;
    width: 522px
    }
.calibre122 {
    height: 412px;
    width: 550px
    }
.calibre123 {
    height: 346px;
    width: 326px
    }
.calibre13 {
    height: 1px;
    width: 14px
    }
.calibre14 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre15 {
    border-collapse: collapse;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre16 {
    display: table-column-group
    }
.calibre17 {
    display: table-column
    }
.calibre18 {
    display: table-header-group;
    vertical-align: middle
    }
.calibre19 {
    height: 1px;
    width: 1px
    }
.calibre2 {
    display: table-row;
    vertical-align: middle
    }
.calibre20 {
    display: block;
    margin-left: 40px
    }
.calibre21 {
    height: 60px;
    width: 86px
    }
.calibre22 {
    display: block;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em
    }
.calibre23 {
    display: block;
    page-break-after: always
    }
.calibre24 {
    font-size: 0.77778em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre25 {
    color: #790029;
    font-family: "Andale Mono", "Courier New", Courier, monospace;
    font-size: 0.75em
    }
.calibre26 {
    height: 235px;
    width: 516px
    }
.calibre27 {
    color: #790029;
    display: block;
    font-family: "Andale Mono", "Courier New", Courier, monospace;
    font-size: 0.70588em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    white-space: pre
    }
.calibre28 {
    height: 238px;
    width: 550px
    }
.calibre29 {
    height: 170px;
    width: 550px
    }
.calibre3 {
    height: 102px;
    width: 83px
    }
.calibre30 {
    height: 322px;
    width: 357px
    }
.calibre31 {
    height: 53px;
    width: 550px
    }
.calibre32 {
    height: 51px;
    width: 373px
    }
.calibre33 {
    display: table-caption;
    text-align: center
    }
.calibre34 {
    display: table-row;
    vertical-align: inherit
    }
.calibre35 {
    height: 449px;
    width: 547px
    }
.calibre36 {
    height: 220px;
    width: 423px
    }
.calibre37 {
    font-size: 0.75em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre38 {
    height: 320px;
    width: 429px
    }
.calibre39 {
    height: 375px;
    width: 518px
    }
.calibre4 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-left: 15px;
    margin-top: 0;
    text-indent: 0
    }
.calibre40 {
    height: 372px;
    width: 550px
    }
.calibre41 {
    height: 332px;
    width: 425px
    }
.calibre42 {
    color: #790029;
    font-family: "Andale Mono", "Courier New", Courier, monospace;
    font-size: 0.77778em
    }
.calibre43 {
    height: 185px;
    width: 443px
    }
.calibre44 {
    display: block;
    font-weight: bold
    }
.calibre45 {
    display: block;
    font-weight: normal
    }
.calibre46 {
    height: 196px;
    width: 395px
    }
.calibre47 {
    height: 284px;
    width: 387px
    }
.calibre48 {
    height: 314px;
    width: 550px
    }
.calibre49 {
    height: 241px;
    width: 550px
    }
.calibre5 {
    font-weight: bold
    }
.calibre50 {
    height: 584px;
    width: 513px
    }
.calibre51 {
    height: 317px;
    width: 535px
    }
.calibre52 {
    height: 381px;
    width: 501px
    }
.calibre53 {
    height: 283px;
    width: 308px
    }
.calibre54 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit
    }
.calibre55 {
    height: 19px;
    width: 91px
    }
.calibre56 {
    height: 17px;
    width: 195px
    }
.calibre57 {
    height: 227px;
    width: 452px
    }
.calibre58 {
    height: 522px;
    width: 550px
    }
.calibre59 {
    height: 200px;
    width: 550px
    }
.calibre6 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: center;
    vertical-align: inherit
    }
.calibre60 {
    color: #790029;
    display: block;
    font-family: "Andale Mono", "Courier New", Courier, monospace;
    font-size: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    white-space: pre
    }
.calibre61 {
    display: block;
    list-style-type: circle;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre62 {
    height: 281px;
    width: 416px
    }
.calibre63 {
    height: 184px;
    width: 495px
    }
.calibre64 {
    height: 362px;
    width: 550px
    }
.calibre65 {
    height: 245px;
    width: 550px
    }
.calibre66 {
    display: block;
    list-style-type: disc;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre67 {
    display: block;
    list-style-type: square;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre68 {
    height: 572px;
    width: 550px
    }
.calibre69 {
    height: 283px;
    width: 550px
    }
.calibre7 {
    display: block
    }
.calibre70 {
    height: 180px;
    width: 549px
    }
.calibre71 {
    height: 363px;
    width: 550px
    }
.calibre72 {
    height: 44px;
    width: 518px
    }
.calibre73 {
    height: 210px;
    width: 373px
    }
.calibre74 {
    height: 261px;
    width: 550px
    }
.calibre75 {
    height: 233px;
    width: 550px
    }
.calibre76 {
    height: 24px;
    width: 424px
    }
.calibre77 {
    height: 314px;
    width: 535px
    }
.calibre78 {
    height: 23px;
    width: 46px
    }
.calibre79 {
    height: 190px;
    width: 446px
    }
.calibre8 {
    display: block;
    text-align: center
    }
.calibre80 {
    height: 309px;
    width: 550px
    }
.calibre81 {
    height: 393px;
    width: 506px
    }
.calibre82 {
    height: 151px;
    width: 462px
    }
.calibre83 {
    height: 138px;
    width: 522px
    }
.calibre84 {
    height: 483px;
    width: 501px
    }
.calibre85 {
    height: 242px;
    width: 550px
    }
.calibre86 {
    height: 244px;
    width: 550px
    }
.calibre87 {
    height: 329px;
    width: 370px
    }
.calibre88 {
    height: 622px;
    width: 550px
    }
.calibre89 {
    height: 204px;
    width: 550px
    }
.calibre9 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: right;
    vertical-align: inherit
    }
.calibre90 {
    height: 424px;
    width: 550px
    }
.calibre91 {
    height: 274px;
    width: 475px
    }
.calibre92 {
    height: 212px;
    width: 517px
    }
.calibre93 {
    height: 281px;
    width: 510px
    }
.calibre94 {
    height: 319px;
    width: 496px
    }
.calibre95 {
    height: 278px;
    width: 323px
    }
.calibre96 {
    height: 292px;
    width: 470px
    }
.calibre97 {
    height: 189px;
    width: 494px
    }
.calibre98 {
    height: 391px;
    width: 191px
    }
.calibre99 {
    height: 406px;
    width: 268px
    }
.docEmphBoldItalic {
    font-style: italic;
    font-weight: bold
    }
.docEmphasis {
    font-style: italic
    }
.docFigureTitle {
    color: #000;
    display: block;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.79412em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.67em
    }
.docFigureTitle1 {
    color: #000;
    display: block;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.67em
    }
.docFootnote {
    color: #666;
    font-size: 0.75em;
    line-height: 1.2;
    vertical-align: super
    }
.docFootnote1 {
    color: #666;
    display: block;
    font-size: 0.52941em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.docFootnote2 {
    color: #666;
    display: block;
    font-size: 0.75em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.docFootnote3 {
    color: #666;
    font-size: 1em;
    line-height: 1.2;
    vertical-align: super
    }
.docLink {
    color: #039
    }
.docList {
    color: #333;
    display: block;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.docList1 {
    color: #333;
    display: block;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.70588em;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.docList2 {
    color: #333;
    display: block;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.70588em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.docList3 {
    color: #333;
    display: block;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.70588em;
    list-style-type: decimal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.docList4 {
    color: #333;
    display: block;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1em;
    list-style-type: decimal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.docList5 {
    color: #333;
    display: block;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.docMonofont {
    color: #790029;
    font-family: "Andale Mono", "Courier New", Courier, monospace
    }
.docPrefaceTitle {
    color: #333;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.17647em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em;
    page-break-before: always
    }
.docPubcolor {
    color: #333
    }
.docSection1Title {
    color: #333;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.docSection2Title {
    color: #333;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.33em
    }
.docSection3Title {
    color: #333;
    display: block;
    font-size: 0.79412em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.67em
    }
.docSidebarTitle {
    color: #333;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
    line-height: 24pt;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em;
    page-break-before: always
    }
.docTableCell {
    color: #333;
    display: table-cell;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.79412em;
    line-height: 1.2;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: left;
    vertical-align: inherit
    }
.docTableCell1 {
    color: #333;
    display: table-cell;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.79412em;
    line-height: 1.2;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit
    }
.docTableCell2 {
    color: #333;
    display: table-cell;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1.125em;
    line-height: 1.2;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: left;
    vertical-align: inherit
    }
.docTableCell3 {
    color: #333;
    display: table-cell;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.79412em;
    line-height: 1.2;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: center;
    vertical-align: inherit
    }
.docTableFooter {
    color: #333;
    display: table-cell;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.52941em;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: left;
    vertical-align: inherit
    }
.docText {
    color: #333;
    display: block;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.88889em;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.docText1 {
    color: #333;
    display: block;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.70588em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.docText2 {
    color: #333;
    display: block;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.88889em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.docText3 {
    color: #333;
    display: block;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1.33333em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.thead {
    display: table-cell;
    font-weight: bold;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: left;
    vertical-align: inherit
    }
.thead1 {
    display: table-cell;
    font-weight: bold;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: center;
    vertical-align: inherit
    }
.thead2 {
    display: table-cell;
    font-weight: bold;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    vertical-align: inherit
    }
.v {
    color: #000;
    display: table-cell;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.79412em;
    line-height: 1.2;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit
    }
.v1 {
    color: #000;
    display: table-cell;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.79412em;
    line-height: 1.2;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: left;
    vertical-align: inherit
    }
.v2 {
    color: #000;
    display: table-cell;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.2;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit
    }
.v3 {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.2
    }
.v4 {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.79412em;
    line-height: 1.2
    }
.v5 {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.79412em;
    font-weight: bold;
    line-height: 1.2
    }
.pcalibre5:visited {
    color: #36C
    }
.pcalibre:visited {
    color: #039
    }
.pcalibre2:link {
    color: #039
    }
.pcalibre3:link {
    color: #303030;
    text-decoration: none
    }
.pcalibre1:hover {
    color: #003
    }
.pcalibre4:hover {
    color: #4B4B4B;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 7pt;
    text-decoration: underline
    }
