.aCells {
    color: #303030;
    display: table-cell;
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 1.125em;
    line-height: 1.2;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: left;
    text-decoration: none;
    vertical-align: inherit
    }
.aCells1 {
    color: #303030;
    display: table-cell;
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 1.125em;
    line-height: 1.2;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    text-decoration: none;
    vertical-align: inherit
    }
.aCells2 {
    color: #303030;
    display: table-cell;
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 1.125em;
    line-height: 1.2;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: right;
    text-decoration: none;
    vertical-align: inherit
    }
.aTopMenu {
    color: #4B4B4B;
    display: table-cell;
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 1.125em;
    line-height: 1.2;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    text-decoration: none;
    vertical-align: inherit
    }
.aTopMenu1 {
    color: #4B4B4B;
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.2;
    text-decoration: none
    }
.bottomBorder {
    border-bottom: 1px #000 solid;
    border-bottom2: solid #000;
    display: table-cell;
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2;
    padding-bottom: 5px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 5px;
    text-align: left;
    vertical-align: inherit
    }
.calibre {
    background-color: white;
    color: black;
    display: block;
    font-family: verdana, sans-serif;
    font-size: 1em;
    font-weight: normal;
    height: 100%;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre1 {
    color: #00217B;
    text-decoration: none
    }
.calibre10 {
    border-collapse: separate;
    border-spacing: 2px;
    color: #000;
    display: table;
    font-family: verdana, sans-serif;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 15px;
    margin-top: 0;
    text-indent: 0
    }
.calibre100 {
    border: 0;
    height: 288px;
    width: 371px
    }
.calibre101 {
    border: 0;
    height: 368px;
    width: 462px
    }
.calibre102 {
    border: 0;
    height: 345px;
    width: 500px
    }
.calibre103 {
    border: 0;
    height: 293px;
    width: 400px
    }
.calibre104 {
    border: 0;
    height: 217px;
    width: 500px
    }
.calibre105 {
    border: 0;
    height: 294px;
    width: 500px
    }
.calibre106 {
    border: 0;
    height: 302px;
    width: 500px
    }
.calibre107 {
    border: 0;
    height: 390px;
    width: 500px
    }
.calibre108 {
    border-collapse: collapse;
    border-spacing: 2px;
    color: #000;
    display: table;
    font-family: verdana, sans-serif;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre109 {
    display: table-caption;
    text-align: center
    }
.calibre11 {
    font-weight: bold
    }
.calibre110 {
    border: 0;
    height: 438px;
    width: 500px
    }
.calibre111 {
    border: 0;
    height: 356px;
    width: 500px
    }
.calibre112 {
    border: 0;
    height: 381px;
    width: 500px
    }
.calibre113 {
    border: 0;
    height: 209px;
    width: 250px
    }
.calibre114 {
    border: 0;
    height: 183px;
    width: 227px
    }
.calibre115 {
    border: 0;
    height: 250px;
    width: 250px
    }
.calibre116 {
    border: 0;
    height: 233px;
    width: 400px
    }
.calibre117 {
    border: 0;
    height: 350px;
    width: 350px
    }
.calibre118 {
    border: 0;
    height: 254px;
    width: 400px
    }
.calibre119 {
    border: 0;
    height: 281px;
    width: 500px
    }
.calibre12 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre120 {
    border: 0;
    height: 280px;
    width: 400px
    }
.calibre121 {
    border: 0;
    height: 370px;
    width: 300px
    }
.calibre122 {
    display: block;
    font-weight: bold
    }
.calibre123 {
    display: block;
    font-weight: normal
    }
.calibre13 {
    border: 0;
    height: auto;
    line-height: 1.2;
    width: auto
    }
.calibre14 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: right;
    vertical-align: inherit
    }
.calibre15 {
    display: block
    }
.calibre16 {
    border: 0;
    height: auto;
    width: auto
    }
.calibre17 {
    font-size: 0.75em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre18 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre19 {
    display: list-item
    }
.calibre2 {
    display: table-row;
    vertical-align: middle
    }
.calibre20 {
    color: #00217B;
    line-height: 1.2;
    text-decoration: none
    }
.calibre21 {
    border: 0;
    height: 98px;
    width: 76px
    }
.calibre22 {
    border: 0;
    height: 1px;
    width: 14px
    }
.calibre23 {
    border: 0;
    height: 1px;
    width: 1px
    }
.calibre24 {
    display: block;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em
    }
.calibre25 {
    border: 0;
    height: 24px;
    width: 30px
    }
.calibre26 {
    border: 0;
    height: 226px;
    width: 200px
    }
.calibre27 {
    border: 0;
    height: 234px;
    width: 200px
    }
.calibre28 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre29 {
    display: block;
    text-align: center
    }
.calibre3 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: center;
    vertical-align: inherit
    }
.calibre30 {
    border: 0;
    height: 281px;
    width: 300px
    }
.calibre31 {
    font-size: 0.77778em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre32 {
    border: 0;
    height: 375px;
    width: 500px
    }
.calibre33 {
    border: 0;
    height: 276px;
    width: 311px
    }
.calibre34 {
    border: 0;
    height: 319px;
    width: 425px
    }
.calibre35 {
    display: table-row;
    vertical-align: top
    }
.calibre36 {
    border: 0;
    height: 259px;
    width: 400px
    }
.calibre37 {
    border: 0;
    height: 313px;
    width: 475px
    }
.calibre38 {
    color: #006;
    font-family: "Courier New", Courier, monospace;
    font-size: 1em;
    line-height: 1.2
    }
.calibre39 {
    border: 0;
    height: 250px;
    width: 500px
    }
.calibre4 {
    border-collapse: separate;
    border-spacing: 2px;
    color: #000;
    display: table;
    font-family: verdana, sans-serif;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre40 {
    display: table-column-group;
    text-align: left
    }
.calibre41 {
    display: table-column
    }
.calibre42 {
    display: table-header-group;
    vertical-align: middle
    }
.calibre43 {
    color: #006;
    display: block;
    font-family: "Courier New", Courier, monospace;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    white-space: pre
    }
.calibre44 {
    border: 0;
    height: 539px;
    width: 405px
    }
.calibre45 {
    border: 0;
    height: 95px;
    width: 204px
    }
.calibre46 {
    border: 0;
    height: 232px;
    width: 500px
    }
.calibre47 {
    border: 0;
    height: 187px;
    width: 400px
    }
.calibre48 {
    border: 0;
    height: 349px;
    width: 500px
    }
.calibre49 {
    border: 0;
    height: 330px;
    width: 500px
    }
.calibre5 {
    border: 0;
    height: 5px;
    width: 1px
    }
.calibre50 {
    border: 0;
    height: 283px;
    width: 500px
    }
.calibre51 {
    border: 0;
    height: 327px;
    width: 500px
    }
.calibre52 {
    border: 0;
    height: 154px;
    width: 248px
    }
.calibre53 {
    border: 0;
    height: 329px;
    width: 500px
    }
.calibre54 {
    border: 0;
    height: 303px;
    width: 500px
    }
.calibre55 {
    border: 0;
    height: 332px;
    width: 443px
    }
.calibre56 {
    border: 0;
    height: 400px;
    width: 500px
    }
.calibre57 {
    border: 0;
    height: 234px;
    width: 350px
    }
.calibre58 {
    border: 0;
    height: 284px;
    width: 500px
    }
.calibre59 {
    border: 0;
    height: 257px;
    width: 300px
    }
.calibre6 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: left;
    vertical-align: inherit
    }
.calibre60 {
    border: 0;
    height: 469px;
    width: 500px
    }
.calibre61 {
    border: 0;
    height: 371px;
    width: 500px
    }
.calibre62 {
    border: 0;
    height: 405px;
    width: 500px
    }
.calibre63 {
    border: 0;
    height: 531px;
    width: 300px
    }
.calibre64 {
    border: 0;
    height: 508px;
    width: 500px
    }
.calibre65 {
    border: 0;
    height: 210px;
    width: 372px
    }
.calibre66 {
    border: 0;
    height: 298px;
    width: 496px
    }
.calibre67 {
    border: 0;
    height: 342px;
    width: 500px
    }
.calibre68 {
    border: 0;
    height: 320px;
    width: 447px
    }
.calibre69 {
    border: 0;
    height: 92px;
    width: 213px
    }
.calibre7 {
    white-space: nowrap
    }
.calibre70 {
    border: 0;
    height: 403px;
    width: 500px
    }
.calibre71 {
    border: 0;
    height: 451px;
    width: 500px
    }
.calibre72 {
    border: 0;
    height: 316px;
    width: 350px
    }
.calibre73 {
    border: 0;
    height: 436px;
    width: 500px
    }
.calibre74 {
    border: 0;
    height: 578px;
    width: 500px
    }
.calibre75 {
    border: 0;
    height: 454px;
    width: 500px
    }
.calibre76 {
    border: 0;
    height: 716px;
    width: 479px
    }
.calibre77 {
    border: 0;
    height: 559px;
    width: 294px
    }
.calibre78 {
    border: 0;
    height: 261px;
    width: 180px
    }
.calibre79 {
    border: 0;
    height: 260px;
    width: 500px
    }
.calibre8 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit
    }
.calibre80 {
    display: block;
    list-style-type: circle;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre81 {
    border: 0;
    height: 199px;
    width: 268px
    }
.calibre82 {
    border: 0;
    height: 355px;
    width: 500px
    }
.calibre83 {
    border: 0;
    height: 237px;
    width: 268px
    }
.calibre84 {
    border: 0;
    height: 222px;
    width: 350px
    }
.calibre85 {
    border: 0;
    height: 441px;
    width: 500px
    }
.calibre86 {
    border: 0;
    height: 264px;
    width: 308px
    }
.calibre87 {
    border: 0;
    height: 237px;
    width: 385px
    }
.calibre88 {
    border: 0;
    height: 376px;
    width: 500px
    }
.calibre89 {
    border: 0;
    height: 312px;
    width: 500px
    }
.calibre9 {
    border: 0;
    height: 98px;
    line-height: 1.2;
    width: 76px
    }
.calibre90 {
    border: 0;
    height: 346px;
    width: 446px
    }
.calibre91 {
    border: 0;
    height: 355px;
    width: 473px
    }
.calibre92 {
    border: 0;
    height: 192px;
    width: 500px
    }
.calibre93 {
    border: 0;
    height: 313px;
    width: 500px
    }
.calibre94 {
    border: 0;
    height: 326px;
    width: 500px
    }
.calibre95 {
    border: 0;
    height: 236px;
    width: 500px
    }
.calibre96 {
    border: 0;
    height: 26px;
    width: 300px
    }
.calibre97 {
    color: #006;
    font-family: "Courier New", Courier, monospace;
    font-size: 1em
    }
.calibre98 {
    border: 0;
    height: 111px;
    width: 500px
    }
.calibre99 {
    border: 0;
    height: 314px;
    width: 250px
    }
.docBookTitle {
    border: none;
    color: #6D7288;
    display: table-cell;
    font-family: verdana, sans-serif;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit
    }
.docEmphasis {
    font-style: italic
    }
.docEmphasis1 {
    font-style: italic;
    line-height: 1.2
    }
.docFigureTitle {
    color: #006;
    display: block;
    font-family: verdana, sans-serif;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.docFootnote {
    color: #000;
    font-family: verdana, sans-serif;
    font-size: 0.75em;
    line-height: 1.2;
    vertical-align: super
    }
.docFootnote1 {
    color: #000;
    display: block;
    font-family: verdana, sans-serif;
    font-size: 0.75em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.docFootnote2 {
    color: #000;
    font-family: verdana, sans-serif;
    font-size: 0.66667em;
    line-height: 1.2;
    vertical-align: super
    }
.docList {
    color: black;
    display: block;
    font-family: verdana, sans-serif;
    font-size: 1em;
    line-height: 1.2;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.docNote {
    display: block;
    margin-bottom: 2em;
    margin-left: 2em;
    margin-right: 2em
    }
.docNoteTitle {
    color: black;
    display: block;
    font-family: verdana, sans-serif;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.docPrefaceTitle {
    border: none;
    color: #646480;
    display: block;
    font-family: verdana, sans-serif;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 4px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-before: always
    }
.docSection1Title {
    color: #6D7288;
    display: block;
    font-family: verdana, sans-serif;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.docSection2Title {
    color: #6D7288;
    display: block;
    font-family: verdana, sans-serif;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.docSection3Title {
    color: #7D8298;
    display: block;
    font-family: verdana, sans-serif;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.docSidebarTitle {
    border: none;
    color: #6D7288;
    display: block;
    font-family: verdana, sans-serif;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 4px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-before: always;
    text-align: center
    }
.docTableCell {
    color: black;
    display: table-cell;
    font-family: Verdana, "Times New Roman", Times, serif;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 5px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 5px;
    text-align: left;
    vertical-align: inherit
    }
.docText {
    color: black;
    display: block;
    font-family: verdana, sans-serif;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.docText1 {
    color: black;
    display: block;
    font-family: verdana, sans-serif;
    font-size: 1em;
    line-height: 1.2
    }
.docText2 {
    border-collapse: separate;
    border-spacing: 2px;
    color: black;
    display: table;
    font-family: verdana, sans-serif;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0
    }
.docText3 {
    color: black;
    display: table-cell;
    font-family: verdana, sans-serif;
    font-size: 1em;
    line-height: 1.2;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: right;
    vertical-align: inherit
    }
.sfbody {
    border-collapse: separate;
    border-spacing: 2px;
    color: #000;
    display: table;
    font-family: verdana, sans-serif;
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0
    }
.v {
    color: #303030;
    display: table-cell;
    font-family: verdana, Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.2;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: left;
    text-decoration: none;
    vertical-align: inherit
    }
.v1 {
    color: #303030;
    display: table-cell;
    font-family: verdana, Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.2;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    text-decoration: none;
    vertical-align: inherit
    }
.v2 {
    color: #303030;
    display: table-cell;
    font-family: verdana, Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.2;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: right;
    text-decoration: none;
    vertical-align: inherit
    }
.v3 {
    color: #039;
    display: table-cell;
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 1.41667em;
    line-height: 1.2;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    text-decoration: none;
    vertical-align: inherit
    }
.v4 {
    color: #039;
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 1.41667em;
    line-height: 1.2;
    text-decoration: none
    }
.v5 {
    color: #303030;
    display: block;
    font-family: verdana, Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-decoration: none
    }
.v6 {
    color: #303030;
    font-family: verdana, Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.2;
    text-decoration: none
    }
.v7 {
    color: #039;
    display: table-cell;
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 1.41667em;
    line-height: 1.2;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: left;
    text-decoration: none;
    vertical-align: inherit
    }
.v8 {
    color: #039;
    display: block;
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 1.41667em;
    line-height: 1.2;
    text-decoration: none
    }
.v9 {
    color: #039;
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    text-decoration: none
    }
.pcalibre5:visited {
    color: #00217B;
    text-decoration: none
    }
.pcalibre1:link {
    color: #303030;
    text-decoration: none
    }
.pcalibre3:link {
    color: #039;
    text-decoration: none
    }
.pcalibre2:hover {
    color: #9E0B0E;
    text-decoration: underline
    }
.pcalibre4:hover {
    color: #4B4B4B;
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 10pt;
    text-decoration: underline
    }
.pcalibre6:hover {
    color: #00217B;
    text-decoration: underline
    }
.pcalibre:hover {
    text-decoration: underline
    }
