.LARGE {
    font-size: 1.125em;
    line-height: 1.2
    }
.SMALL {
    font-size: 0.75em
    }
.XXLARGE {
    font-size: 1.41667em;
    line-height: 1.2
    }
.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em
    }
.calibre10 {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em
    }
.calibre11 {
    line-height: 1.2
    }
.calibre12 {
    display: block;
    list-style-type: circle;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre13 {
    display: block;
    list-style-type: square;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre14 {
    height: 71px;
    vertical-align: bottom;
    width: 427px
    }
.calibre15 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre16 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre17 {
    height: 95px;
    vertical-align: bottom;
    width: 590px
    }
.calibre18 {
    display: block;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre19 {
    display: block;
    list-style-type: decimal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre2 {
    display: block
    }
.calibre20 {
    display: block;
    font-family: monospace;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    white-space: pre
    }
.calibre21 {
    height: 72px;
    vertical-align: bottom;
    width: 589px
    }
.calibre22 {
    height: 95px;
    vertical-align: bottom;
    width: 589px
    }
.calibre23 {
    height: 441px;
    vertical-align: bottom;
    width: 598px
    }
.calibre24 {
    height: 464px;
    vertical-align: bottom;
    width: 598px
    }
.calibre25 {
    height: 118px;
    vertical-align: bottom;
    width: 590px
    }
.calibre26 {
    height: 93px;
    vertical-align: bottom;
    width: 428px
    }
.calibre27 {
    height: 210px;
    vertical-align: bottom;
    width: 590px
    }
.calibre28 {
    height: 418px;
    vertical-align: bottom;
    width: 598px
    }
.calibre29 {
    height: 233px;
    vertical-align: bottom;
    width: 590px
    }
.calibre3 {
    height: auto;
    width: auto
    }
.calibre30 {
    height: 764px;
    vertical-align: bottom;
    width: 599px
    }
.calibre31 {
    height: 141px;
    vertical-align: bottom;
    width: 590px
    }
.calibre32 {
    height: 256px;
    vertical-align: bottom;
    width: 590px
    }
.calibre33 {
    height: 303px;
    vertical-align: bottom;
    width: 788px
    }
.calibre34 {
    height: 395px;
    vertical-align: bottom;
    width: 796px
    }
.calibre35 {
    height: 487px;
    vertical-align: bottom;
    width: 796px
    }
.calibre36 {
    height: 1572px;
    vertical-align: bottom;
    width: 1144px
    }
.calibre37 {
    height: 833px;
    vertical-align: bottom;
    width: 1143px
    }
.calibre38 {
    height: 164px;
    vertical-align: bottom;
    width: 590px
    }
.calibre39 {
    height: 303px;
    vertical-align: bottom;
    width: 598px
    }
.calibre4 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre40 {
    height: 160px;
    vertical-align: bottom;
    width: 427px
    }
.calibre41 {
    border: 1px inset;
    color: gray;
    display: block;
    height: 2px;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em
    }
.calibre42 {
    display: block;
    font-weight: bold;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.33em
    }
.calibre43 {
    display: block;
    margin-left: 40px
    }
.calibre5 {
    display: block;
    text-align: center
    }
.calibre6 {
    font-style: italic
    }
.calibre7 {
    font-size: 0.77778em
    }
.calibre8 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre9 {
    display: list-item
    }
.textbf {
    font-weight: bold
    }
